{
  "extends": "@motion-canvas/2d/tsconfig.project.json",
  "compilerOptions": {
    "target": "ES2022",
    "module": "ESNext",
    "moduleResolution": "bundler"
  },
  "include": [
    "src/**/*",
    "vite.config.ts"
  ]
}
